* {
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
    font-family: Raleway;

    //give a pretty scroll bar to everything
    &::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
    }

    &::-webkit-scrollbar-track {
        background: rgb(213, 213, 213);
        border-radius: 1rem;
    }

    &::-webkit-scrollbar-thumb {
        background: rgb(170, 170, 170);
        border-radius: 1rem;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgb(139, 139, 139);
    }
}

//stlye the navbar
nav {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}

.nav {
    height: 50px;
    width: 100%;
    color: white;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

a {
    color: white;
}

.main {
    display: grid;
    grid-template-columns: 1fr 3fr 1.5fr;

    .title {
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
    }

    padding: 1rem;
    max-height: 100vh;
}

input,
select {
    border-radius: 10rem;
    padding: 0.5rem;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 1.1rem;
}

body {
    overflow-y: hidden;
}

#droppables {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    max-height: calc(97vh - 50px);
    overflow-y: auto;
    width: max-content;

    position: relative;

    >.title {
        top: 0px;
        // position: sticky;
        background-color: rgb(29, 29, 29);
        padding: 1rem;
        color: white;
        border-radius: 1rem;
    }


    .droppable {
        width: 100%;
        // height: 150px;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: rgb(0, 132, 255);
        border-radius: 0.5rem;
        font-size: 2rem;
        cursor: move;

        &.function {
            font-size: 1.5rem;
        }

        // &.return {
        //     background-color: rgb(224, 224, 224);
        // }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

code {
    font-family: 'Courier New', Courier, monospace;
}

#blocksContainer {
    // background-color: rgb(235, 235, 235);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-height: calc(97vh - 50px);
    overflow-y: auto;
    width: max-content;
    align-items: center;
    width: 100%;
    background-size: 60px 60px;
    background-attachment: fixed;
    background-color: rgb(243, 243, 243);

    background-image: radial-gradient(circle, #797979 1px, rgba(46, 46, 46, 0) 1px);

    >.title {
        top: 0px;
        position: sticky;
        background-color: rgb(29, 29, 29);
        padding: 1rem;
        color: white;
        border-radius: 1rem;

    }

    // gap: 1rem;

    #blocks {
        padding: 1rem 0rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: left;
        width: 100%;
        position: relative;

        #droppableRegion {
            background-color: blueviolet;
            color: white;
            padding: 1rem;
            // width: min-content;
            border-radius: 1rem;
            text-align: center;
            order: 1;
            // position: sticky;
            z-index: 1;
            // bottom: 0px;
        }

        >.block {
            margin-left: 0rem !important;
        }

        .block {
            //light box shadow
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.166);
            display: flex;
            flex-direction: column;
            font-size: 1.25rem;
            margin-left: 2rem;
            border-radius: 1rem;
            width: min-content;
            cursor: grab;
            opacity: 0;
            animation-name: fadeIn;
            animation-duration: 500ms;
            animation-fill-mode: forwards;
            position: relative;

            transition-duration: 0ms;

            // &.collapseParent {
            //     transition-duration: 0ms;
            //     padding-bottom: 0px !important;
            //     & > .title::before {
            //         content: "🔒 ";
            //     }
            //     > * {
            //         visibility: hidden !important;
            //         height: 0px;
            //     }
            //     .container {
            //         padding: 0px;
            //     }
            //     > .title {
            //         visibility: visible !important;
            //         height: auto;
            //         border-radius: 1rem;
            //     }
            // }

            &:has(.block) {
                padding-bottom: 1rem;
            }

            > :first-child {
                margin-left: 0rem !important;
            }

            .title {
                padding: 0.5rem 1rem;
                font-weight: bold;
                text-align: left;
                font-size: 1.25rem;
                background-color: rgba(19, 19, 19, 0.475);
                color: white;
                border-radius: 1rem 1rem 0rem 0rem;
            }

            .deleteBtn {
                // flex-grow: 2;
                display: inline;
                float: right;
                text-align: right;
                cursor: pointer;
                color: white;
            }

            .container {
                display: flex;
                gap: 0.5rem;
                padding: 1rem;
                align-items: center;
                // justify-content: center;
            }

            position: relative;

            transition-duration: 300ms;

            &:has(.droppableRegion.before.dragging) {
                margin-top: 1rem;
            }

            &:has(.droppableRegion.after.dragging) {
                margin-bottom: 2rem;
            }

            &:has(.droppableRegion.inner.dragging) {
                padding-bottom: 3rem;
            }

            .droppableRegion {
                position: absolute;
                height: 50%;
                width: 100%;
                transform: translateX(-1rem);
                pointer-events: none;

                &.before {
                    top: 0px;
                    border-radius: 1rem 1rem 0rem 0rem;
                }

                &.inner {
                    top: 50%;
                    transform: translateY(-50%) translateX(-1rem);
                    // border-radius: 1rem 1rem 0rem 0rem;
                }

                &.after {
                    bottom: 0px;
                    border-radius: 0rem 0rem 1rem 1rem;
                }
            }

            .block {
                margin-right: 0.5rem;
                margin-bottom: 0.5rem;
            }

            label {
                font-size: 0.9rem;
            }

            &.if,
            &.elseif,
            &.else {
                min-width: 150px;

                .container {
                    padding-right: 2rem;

                    input[type="number"] {
                        width: 50px;
                    }

                    input {
                        width: 100px;
                    }
                }
            }

            &.while {
                .container {
                    input[type="number"] {
                        width: 50px;
                    }

                    input {
                        width: 100px;
                    }
                }
            }

            &.print {
                .container {
                    input {
                        width: 100px;
                    }
                }
            }

            &.for,
            &.while {
                .container {
                    input[type="number"] {
                        width: 50px;
                    }

                    input {
                        width: 100px;
                    }
                }
            }

            &.var {
                input {
                    width: 125px;
                }
            }

            &.math {
                input {
                    width: 100px;
                }

                label {
                    font-size: 1.5rem;
                    font-weight: bold;
                }
            }

            &.print {
                input[type="text"] {
                    width: 150px !important;
                }

                input[type="checkbox"] {
                    width: min-content;
                }
            }

            &.read,
            &.write {
                input[type="text"] {
                    width: 150px !important;
                }
            }

            &.read {
                input[type="checkbox"] {
                    width: min-content;
                }
            }

            &.write {
                input[type="checkbox"] {
                    width: min-content;
                }
            }

            &.function {
                min-width: 400px;
            }

            &.call {
                min-width: 300px;
            }

            &.function,
            &.call {
                >.container {
                    display: flex;

                    .addArgBtn {
                        font-size: 1rem;
                        background-color: rgba(0, 0, 0, 0.534);
                        border-radius: 10rem;
                        padding: 0.4rem 1.25rem;
                        cursor: pointer;
                    }

                    // grid-template-columns: 1fr 1fr 1fr 1fr;
                    // input:first-child{
                    //     width: 80px;
                    // }

                    align-items: baseline;
                    flex-direction: column;

                    .args {
                        display: flex;
                        flex-direction: column;
                        gap: 0.25rem;
                        margin-left: 0.5rem;

                        .arg {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;
                            input {
                                width: 100px;
                            }
                        }
                    }

                    input:nth-child(2) {
                        width: 150px;
                    }

                    input:nth-child(4) {
                        width: 250px;
                    }
                }
            }

            // border-radius: 1rem;
        }
    }
}

#outputContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    max-height: calc(97vh - 50px);

    .outputcode {
        gap: 1rem;
        display: flex;
        flex-direction: column;
        height: 100%;

        button {
            border-radius: 10rem;
            background-color: rgb(123, 0, 255);
            border: 0px solid;
            padding: 1rem;
            color: white;
            font-size: 1.25rem;
            cursor: pointer;
        }

        pre {
            flex-grow: 1;
            height: 100%;
            overflow: auto;
        }

        #output {
            display: block;
            background-color: rgb(223, 223, 223);
            border-radius: 1rem;
            padding: 1rem;
            overflow: auto;
            max-width: 400px;
            height: 300px;
            max-height: 400px;
        }
    }
    .lno {
        // float: left;
        display: inline-block;
        width: 20px;
    }

    #outputprint {
        display: block;
        // background-color: rgb(223, 223, 223);
        background-color: rgb(56, 56, 56);
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        color: white;
        border-radius: 1rem;
        padding: 1rem;
        overflow: auto;

        // max-width: 400px;
        &.loading {
            background-color: rgb(155, 155, 155);
        }

        // height: 100%;
    }
}

.if,
.elseif,
.else {
    background-color: rgb(0, 187, 255);
}

.function,
.call,
.return {
    background-color: rgb(144, 92, 255);
    color: white;
}

.read,
.write {
    background-color: rgb(255, 92, 92);
}

.while {
    background-color: rgb(255, 193, 92);
}

.print {
    background-color: rgb(209, 255, 92);
}

.for,
.while {
    color: white;
    background-color: rgb(0, 132, 255);
}

.var {
    background-color: rgb(255, 193, 92);
}

.math {
    background-color: rgb(0, 196, 95);
}

#outputContainer {
    padding: 1rem;

}